@tailwind base;
@tailwind components;
@tailwind utilities;
@import "react-alice-carousel/lib/alice-carousel.css";

@layer components {
  .scaleBtn {
    @apply active:scale-90 transition-all duration-150;
  }

  .heroButton {
    @apply px-2 sm:px-6 underline sm:no-underline sm:border sm:border-white rounded-full uppercase py-2 text-xs tracking-widest text-white/50 hover:border-yellow-500/40 hover:text-yellow-500/70 cursor-pointer mx-1 underline-offset-4 scaleBtn;
  }

  .projectButton {
    @apply px-6 border border-white rounded-full uppercase pb-2 pt-1 text-xs tracking-widest text-white/50 hover:border-yellow-500/40 hover:text-yellow-500/70 cursor-pointer underline-offset-4 scaleBtn;
  }

  .tw-input {
    @apply block w-full appearance-none rounded border-none border-yellow-500 bg-[#0d0d0d] py-3 px-4 leading-tight focus:outline focus:outline-[1px] focus:outline-offset-2 focus:outline-yellow-300 focus:ring-offset-transparent disabled:animate-pulse;
  }
  .tw-label {
    @apply py-1 block text-xs font-semibold uppercase tracking-wide;
  }

  .tb {
    @apply border-yellow-500 border;
  }
}

html {
  overflow: hidden;
  overscroll-behavior: none;
  background-color: #020202;
  scroll-behavior: smooth;
}

.clip-b-radius {
  clip-path: inset(0 round 0 0 40px 40px);
}

.clip-t-radius {
  clip-path: inset(0 round 40px 40px 0 0);
}

.outline-border {
  background: conic-gradient(#ff0000 0%, #ffff00 16.67%, #00ff00 33.33%, #00ffff 50%, #0000ff 66.67%, #ff00ff 83.33%, #ff0000 100%);
}

.outer-card {
  border-radius: calc(8px + 5px);
}

.overflow-mobile {
  -webkit-overflow-scrolling: touch;
}

@supports (-webkit-touch-callout: none) {
  body,
  .site {
    min-height: -webkit-fill-available;
    max-height: 88vh;
  }
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading="lazy"] {
    clip-path: inset(0.6px);
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
}

/* Moves reCaptcha badge to the left side of the window */
.grecaptcha-badge {
  width: 70px !important;
  overflow: hidden !important;
  transition: all 0.3s ease !important;
  left: 5px !important;
}
.grecaptcha-badge:hover {
  width: 256px !important;
}
.grecaptcha-badge {
  opacity: 0 !important;
}

@supports (-webkit-touch-callout: none) {
  height: -webkit-fill-available;
}

.alice-carousel__dots {
  margin: 0px 3px 5px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alice-carousel__dots-item:not(.__custom){
  background-color: #fff !important;
}

.alice-carousel__dots-item:not(.__custom).__active {
  background-color: #ffe800 !important;
}

.alice-carousel__dots-item:not(.__custom):hover {
  background-color: #ffe800 !important;
}
